body {
    font-family: Arial Narrow, sans-serif;
    font-size: 18px;
    background-color: ghostwhite;
    text-align: justify;
}

header {
    font-weight: bold;
    font-size: 22px;
}

#info {
    width: 75%;
    text-align: justify;
}

#main-doc {
    background-color: ghostwhite;
    border-radius: 8px 10px;
}

code {
    display: block;
    padding: 10px 0 10px 20px;
    width: 100%;
    background-color: #eee;
    border-radius: 10px;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.8);
}

pre > code {
    padding-bottom: 20px;
    margin-bottom: -20px;
    white-space: pre-line;
}


#navbar {
    display: block;
    background-color: hsla(0, 10%, 15%, 0.1);
    width: 20%;
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 6px;
    padding-right: 15px;
    border: 1px solid #888989;
}


p,
ul {
    color: rgba(0, 0, 0, 0.8);
}

nav>ul>li>a {
    color: steelblue;
    font-weight: bold;
    text-decoration: none !important;
}

.divider {
    border-bottom: 1px solid #888989;
    margin-left: -50px;
}

nav>ul>li {
    margin: 3px;
    list-style-type: none;
    margin-left: -20px;
}

@media screen and (max-width: 768px) {
    #info{
        margin:auto;
        
    }

    #navbar{
    display:none;
    }
}

@media screen and (min-width: 768px) {
    #info{
        display: block;
        margin-left:295px;
        
    }
    #navbar{
        display: block;
    }
}